.merchants {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--textPrimary);
  margin: 0;
}

.content {
  width: 100%;
}

@media (max-width: 768px) {
  .merchants {
    padding: 0;
  }
}